*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
.menu{

  align-content: right;
  color:aliceblue;
  text-decoration: none;
  background: rgb(240, 217, 69);
  padding:10px;
 
 }
 .navbarlogo{
  background:rgb(82, 82, 86) ;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
 }
 .row{
  display: contents;

 }
.Colllogo{
width:8%

}
 .column{
  text-align: left;
  float: left;
  justify-content: right;
  flex-wrap: nowrap;
  font-size: larger;
 }

.collname{
  text-align: left;
}
 .navbar-nav{
    display: flex;
    list-style: none;
    align-items: left;
    justify-content:space-between;

 }
 .nav-item{
  list-style: none;
  font-display: white;
  padding: 0 50px;
  position: relative;
  align-items: left;
  justify-content:space-between;
  padding: 0 50px;

 }
  .image{
  background-image: url(./ccamp.jpg);
}


  h1,h2,h3,h4{
    text-align: center;
    color:aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  h2{
    color:rgb(228, 228, 235);
  }
 
  .Footer {
    background: rgb(240, 217, 69);
    padding: 10px;
    text-align: center;
    color: white;
  }

  @media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
    .navbar-nav,.menu{
      width:100%;
    }
  }